:root {
    /* Colores primarios */
    --primary-color: #8C277B; 
    --secondary-color: #BF56AE; 
    --accent-color: #A6763C; 
    --background-color: #261526; 
    --text-color: #EEE8DD; 
  
  }


