:root {
    /* Colores primarios */
    --primary-color: #8C277B; 
    --secondary-color: #BF56AE; 
    --accent-color: #A6763C; 
    --background-color: #261526; 
    --text-color: #EEE8DD; 
  
    /* Colores adicionales 
    --info-color: #1abc9c; 
    --warning-color: #f1c40f; 
    --danger-color: #e74c3c; 
    --success-color: #2ecc71; */
  }


  #CB5CB5