/* Sidebar */
.sidebar {
    background-color: var(--card-bg-color);
    padding: 20px;
    height: 100; 
    overflow-y: auto; 
    top: 57px; 
    width: 360px;
    border-right: solid 5px;
    border-color: var(--border-color);
}
.sidebar-profile-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.text-inherit {
    text-decoration: none !important;
    color: inherit !important;
}