/* Sidebar */
.sidebar {
    /* background-color: #f8dada; Rosa claro */
    background-color: var(--card-bg-color);
    padding: 0;
    height: 100; 
    overflow-y: auto; 
    top: 57px; 
    width: 360px;
    border-right: solid 5px;
    border-color: var(--border-color);
}
.sidebar-profile-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.text-inherit {
    text-decoration: none !important;
    color: inherit !important;
}
.sidebar li, .sidebar-responsive li {
    color: var(--text-color) !important;
    font-size: x-large !important;
}

.sidebar li:hover, .sidebar-responsive li:hover {
    background-color: var(--card-bg-hover-color) !important;

}

.menu-list li a:hover {
    color: var(--accent-color); /* Cambia el color del texto */
}

.menu-list li a {
    padding: 0 20px ;
}


.nickname, .email  {
    font-size:large;
}